@{
    ViewBag.Title = "Connecting Dots";
}

<div class="jumbotron">
    <h2>Connecting Dots</h2>
    <p class="lead">
        Venusaur, Charizard, Blastoise, Pikachu, and many other Pokémon have been discovered on planet Earth!
        Now’s your chance to discover the dots where these Pokémon are and connect these dots at their locations — so get your shoes on, step outside, and explore the world.
        <br /><br />
        Pokémon are out there, and you need to find them. Walk around a neighborhood and find the Pokemon. Stay alert!
        <br /><br />
        Search far and wide for Pokémons.
        Certain Pokémon appear near their native environment—look for Water-type Pokémon by lakes and oceans.
        Visit PokéStops, found at interesting places like museums, art installations, historical markers, and monuments, to stock up on Poké Balls and helpful items.
        <br /><br />
        Catching, hatching, evolving, and more.
        It’s time to get moving—your real-life adventures await!
    </p>
</div>

